body {
    background-color: silver;
    padding-bottom: 5%;
}

/*.rating {
    text-align: center;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .10s;
}
.rating a:hover,
.rating a:focus {
    color: orange;
    cursor: pointer;
}*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating > a {
    text-decoration: none;
    font-size: 3em;
    transition: color .10s;
    color: orange;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before {
    content: "\2605";
    position: absolute;
    text-decoration: none;
}